node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.example
.vscode
.idea
coverage
test
vitest.config.ts
vitest.config.e2e.ts
client.http
private_key.pem
public_key.pem
.DS_Store